[submodule "themes/hello-friend-ng"] 
  path = themes/hello-friend-ng 
  url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo.git
